$fs-black: #000;
$fs-white: #fff;

$fs-gray: #9e9e9e;

$fs-blue: #455fff;
$fs-blue-dark: #14279f;
$fs-lava: #ff362b;
$fs-green: #48df6a;
$fs-yellow: #ffea36;
$fs-candy: #ff92fc;
$fs-candy-dark: #ff5ffb;
